In [110]:
import numpy as np
from numpy.linalg import norm
import pandas as pd
from numpy.linalg import svd

from random import normalvariate
from math import sqrt

In [111]:
# Read data from the CSV file into a Pandas DataFrame
df = pd.read_csv("./SVD/ml-latest-small/ratings.csv")
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [112]:
movie_ratings = df.groupby(['userId', 'movieId'])['rating'].first().unstack(fill_value=0.0)
movie_ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
movie_ratings.shape

(610, 9724)

In [119]:
# Read data from the CSV file into a Pandas DataFrame
movies = pd.read_csv("./SVD/ml-latest-small/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [120]:
movies.shape

(9742, 3)

In [114]:
def randomUnitVector(n):
    unnormalized = [normalvariate(0, 1) for _ in range(n)]
    theNorm = sqrt(sum(x * x for x in unnormalized))
    return [x / theNorm for x in unnormalized]


def svd_1d(A, epsilon=1e-10):
    ''' The one-dimensional SVD '''

    n, m = A.shape
    x = randomUnitVector(min(n,m))
    lastV = None
    currentV = x

    if n > m:
        B = np.dot(A.T, A)
    else:
        B = np.dot(A, A.T)

    iterations = 0
    while True:
        iterations += 1
        lastV = currentV
        currentV = np.dot(B, lastV)
        currentV = currentV / norm(currentV)

        if abs(np.dot(currentV, lastV)) > 1 - epsilon:
            print("converged in {} iterations!".format(iterations))
            return currentV


def svd2(A, k=None, epsilon=1e-10):
    '''
        Compute the singular value decomposition of a matrix A
        using the power method. A is the input matrix, and k
        is the number of singular values you wish to compute.
        If k is None, this computes the full-rank decomposition.
    '''
    A = np.array(A, dtype=float)
    n, m = A.shape
    svdSoFar = []
    if k is None:
        k = min(n, m)

    for i in range(k):
        print(i, k)
        matrixFor1D = A.copy()

        for singularValue, u, v in svdSoFar[:i]:
            matrixFor1D -= singularValue * np.outer(u, v)

        if n > m:
            v = svd_1d(matrixFor1D, epsilon=epsilon)  # next singular vector
            u_unnormalized = np.dot(A, v)
            sigma = norm(u_unnormalized)  # next singular value
            u = u_unnormalized / sigma
        else:
            u = svd_1d(matrixFor1D, epsilon=epsilon)  # next singular vector
            v_unnormalized = np.dot(A.T, u)
            sigma = norm(v_unnormalized)  # next singular value
            v = v_unnormalized / sigma

        svdSoFar.append((sigma, u, v))

    singularValues, us, vs = [np.array(x) for x in zip(*svdSoFar)]
    return us.T, singularValues, vs

In [115]:
U, S, Vt = svd(movie_ratings, full_matrices=False)
print(f'U:\n {U}\n')
print(f'S:\n {S}\n')
print(f'Vh:\n {Vt}\n')

U:
 [[-5.55541517e-02  6.16738477e-02 -1.08974491e-02 ...  3.01873377e-03
  -2.89230819e-04  4.31423480e-04]
 [-5.86629527e-03 -1.77377186e-02 -4.42345417e-03 ... -3.26516243e-03
  -8.86828015e-03  8.86330337e-04]
 [-1.35323055e-03  2.06861278e-03  1.71517331e-03 ... -2.29472620e-03
  -2.14465926e-03 -1.61906293e-03]
 ...
 [-1.16114423e-01  1.18470415e-02 -9.76290702e-03 ...  8.84377554e-04
  -7.65989186e-04  1.37856876e-03]
 [-7.57943540e-03  1.37846340e-02 -3.97412421e-02 ...  1.21896501e-02
  -3.21030684e-03 -1.75729437e-02]
 [-1.38864880e-01 -2.02184449e-01  9.26753579e-02 ... -7.72222925e-05
  -3.38393669e-04  7.05394146e-04]]

S:
 [534.41989777 231.23661142 191.1508762  170.42250831 154.552948
 147.33575651 135.65556768 122.66302989 121.44217651 113.11144323
 109.60313933 107.93266172 105.97376877 102.05675293  99.87323589
  99.28999246  97.11713355  93.40879296  92.32408574  90.97607986
  90.42515264  88.83466993  87.29627026  86.05702164  85.15393734
  83.04476272  82.40743887  81.73690785  80.86997674  79.52408732
  79.16948319  78.84651534  78.00723454  76.71225804  75.6272454
  75.40667214  74.96494138  74.29201322  74.05266585  73.45188037
  73.2246949   72.46953282  71.70985332  70.20660519  70.02143448
  69.93495369  69.50676339  69.07855191  68.43455046  67.8676482
  67.49922664  67.48404012  67.06467382  66.58800288  66.0811711
  65.46149276  64.93460662  64.84974658  64.3412403   63.92922187
  63.80270853  63.6549702   63.21158802  63.02672434  62.8347854
  62.30489869  61.71605686  61.54464024  61.24327624  60.80532105
  60.53737166  60.20111326  59.93380272  59.77707611  59.34636373
  59.21261216  59.04868633  58.62456412  58.30598549  58.22154408
  58.03042995  57.77483645  57.52509679  57.33352511  57.08945828
  56.94043316  56.78366967  56.18009159  56.06027114  55.54566417
  55.39614097  55.17004359  54.96855006  54.65712304  54.52427024
  54.31689273  54.14301235  53.82131296  53.6359703   53.24416781
  53.17502724  52.98078346  52.75282582  52.39939931  52.2454473
  52.11916542  52.08984158  51.82995199  51.59509502  51.23869241
  51.04599537  50.89854712  50.6365081   50.35002878  50.30142335
  49.90352653  49.70981954  49.62127523  49.1847329   49.15834363
  48.89495298  48.72755502  48.56971242  48.35318433  48.246659
  48.02150569  47.89616764  47.6614329   47.62266217  47.2555493
  46.99949082  46.71828425  46.59137229  46.52964259  46.38110824
  46.17066131  45.84137555  45.75688975  45.63615388  45.32988149
  45.15450807  45.00209535  44.70373704  44.51619713  44.3624539
  44.20811807  44.14959814  44.09231277  43.92740519  43.9197844
  43.59242366  43.4970149   43.38437158  43.34588477  42.93385012
  42.91221336  42.83049691  42.66254032  42.4229505   42.21346803
  42.03226332  41.88278492  41.74564537  41.66305665  41.31556023
  41.04717933  40.87389362  40.79118293  40.65350071  40.49203738
  40.3379355   40.28780606  40.10019983  39.87487182  39.75938053
  39.69995232  39.56242814  39.47403541  39.3352616   39.26598927
  39.09024835  38.86029309  38.64566384  38.49204168  38.32076748
  38.25147196  38.19644533  37.91258434  37.78685955  37.56557221
  37.43651956  37.25777015  37.09768654  37.02375611  37.01137017
  36.87851619  36.63489492  36.58606281  36.50971883  36.204574
  36.13160849  36.05011874  35.92873899  35.83898224  35.63952702
  35.43702114  35.31083368  35.26471179  35.18525259  34.95007967
  34.85592508  34.7646004   34.55095502  34.50512634  34.38585468
  34.27624709  34.27442903  34.03635676  34.02274657  33.89291771
  33.79130165  33.66870015  33.49336492  33.39732752  33.28785292
  33.22551418  33.16008868  32.97483202  32.86353408  32.82228531
  32.59305168  32.42071833  32.36450009  32.20369484  32.06019941
  31.94469944  31.85814796  31.85179332  31.78494317  31.51600021
  31.38655773  31.22756104  31.15602189  31.02911618  30.87480791
  30.83334907  30.73368944  30.59102907  30.53987055  30.31936737
  30.22691317  30.15330799  30.09451557  30.01222449  29.99424287
  29.9040703   29.78763042  29.6302591   29.45215294  29.3889805
  29.34681709  29.23239473  29.13238796  29.04009375  28.88265498
  28.80976603  28.70352835  28.53396733  28.47633402  28.45013641
  28.35568686  28.26626728  28.10879204  28.03175431  27.9421263
  27.8177557   27.77506257  27.55694613  27.50071124  27.45588926
  27.42350855  27.39743972  27.21242249  27.18344146  27.09852585
  26.92248468  26.81939528  26.75992828  26.73674747  26.65583088
  26.52935849  26.49720479  26.36944783  26.31692285  26.19144539
  26.13944282  26.06525123  26.02534702  25.86714632  25.85175213
  25.75815962  25.74931598  25.51010538  25.49426543  25.35941296
  25.34609134  25.25497849  25.14792724  25.06535522  25.00543103
  24.87880012  24.83205306  24.71991461  24.65165955  24.64432146
  24.5522766   24.43199576  24.34657259  24.18063447  24.13648926
  24.06211679  23.99353646  23.86627313  23.82987195  23.73149885
  23.71959893  23.60840583  23.53344505  23.47598701  23.33726998
  23.29173709  23.19854619  23.17691193  23.06115217  23.02299346
  22.94486393  22.9194389   22.84017535  22.75413591  22.65908146
  22.6251265   22.52036161  22.49934509  22.40180168  22.3028437
  22.24189624  22.19280766  22.14353641  22.09285662  21.96048629
  21.8617488   21.84995215  21.77854087  21.76643943  21.62318036
  21.54871164  21.50354063  21.47381718  21.41778789  21.32248787
  21.28971259  21.21029103  21.11295386  21.072068    21.01699549
  20.94653705  20.89850459  20.83233967  20.78451435  20.66777404
  20.58409847  20.5373003   20.48614865  20.42476216  20.37512511
  20.22294657  20.20358055  20.09671541  19.98989888  19.97634377
  19.91010662  19.86987359  19.84353076  19.70341771  19.66101065
  19.60981569  19.57103367  19.53540027  19.48410707  19.44350369
  19.4076651   19.27067586  19.24668657  19.17701135  19.14923736
  19.09219772  18.95498014  18.94070677  18.86220697  18.76764345
  18.73598996  18.70617533  18.62408717  18.59699106  18.56750534
  18.48050227  18.4228345   18.31840534  18.25141904  18.19345032
  18.16655118  18.10238113  18.05314423  17.98956396  17.88100124
  17.84617844  17.82465151  17.77174635  17.6949009   17.66623175
  17.59059398  17.57921211  17.52631228  17.44610919  17.35646626
  17.31336415  17.23854499  17.19888852  17.14540032  17.06647992
  17.01334542  16.9393425   16.90571076  16.87877155  16.83153131
  16.78058481  16.6984954   16.66778555  16.55062023  16.5401056
  16.45832222  16.42667797  16.40688042  16.34326254  16.2360525
  16.20125241  16.14286825  16.03840436  16.02550318  15.99119212
  15.93668028  15.86147004  15.83688926  15.7584055   15.69676471
  15.66593017  15.6025749   15.55472465  15.49204781  15.43782932
  15.39978615  15.32136695  15.27946998  15.2266361   15.19975865
  15.13620846  15.07618911  14.99842257  14.93044536  14.8876993
  14.82162154  14.78368604  14.70561791  14.69637729  14.64410317
  14.58053826  14.52131584  14.46168549  14.40493539  14.36146576
  14.31135037  14.27707698  14.2161576   14.20345757  14.09560567
  14.04215485  13.9974713   13.94690201  13.93740709  13.83193363
  13.75141452  13.72944155  13.69254602  13.58048901  13.55839947
  13.47780075  13.41604773  13.37684976  13.32150298  13.25709901
  13.23790527  13.16790714  13.10329079  12.99949864  12.95858198
  12.86380272  12.80219401  12.78093816  12.70550077  12.68122152
  12.62001342  12.60231116  12.46306014  12.4409096   12.37864011
  12.34417278  12.30434513  12.2415098   12.18194122  12.17655251
  12.08445294  12.06198188  11.94164167  11.86549664  11.86168277
  11.77847547  11.7189408   11.67171903  11.63052868  11.56737698
  11.49593036  11.42608236  11.40315567  11.33130997  11.21612478
  11.15032436  11.11421258  11.06620688  10.98352833  10.965329
  10.92004306  10.83574106  10.81307679  10.77721784  10.75079852
  10.62440139  10.58481709  10.53961758  10.39980092  10.3341466
  10.31101929  10.22810053  10.16127231  10.10519092  10.07600095
   9.95841186   9.89417387   9.77176025   9.71565118   9.62071464
   9.58500526   9.5240869    9.46135305   9.35188444   9.31416341
   9.27559647   9.12992689   9.078564     8.97522501   8.91151593
   8.87674527   8.79082914   8.74236889   8.67319139   8.54990065
   8.49836888   8.32584945   8.24517115   8.14679687   8.08153438
   7.9499208    7.84509435   7.82879015   7.73072824   7.69531378
   7.39858067   7.35381054   7.25073792   7.12876549   7.03551106
   6.8861766    6.70247468   6.57770359   6.53226887   6.36720713
   6.20321521   6.08570289   6.05607072   5.91918873   5.72487171
   5.34854741   5.13236147   4.94197587   4.76492537   4.56469537
   4.49105122   4.3717472    3.87425211   3.113954     2.94720712]

Vh:
 [[-7.04498985e-02 -3.85393459e-02 -1.59129220e-02 ... -6.46836073e-05
  -6.46836073e-05 -2.71729303e-04]
 [ 2.75911949e-02  2.06662722e-03  2.47146155e-02 ... -5.97586244e-04
  -5.97586244e-04 -1.27236200e-03]
 [-7.84438842e-02 -5.68447103e-02 -1.80051145e-02 ...  8.71093879e-05
   8.71093879e-05 -1.22833344e-04]
 ...
 [ 2.01689548e-02  1.33779984e-02 -1.90835186e-02 ... -1.91212330e-03
  -1.91212330e-03 -2.10896719e-03]
 [ 3.54618933e-02 -1.02325253e-01 -1.19562842e-02 ...  9.45491087e-04
   9.45491087e-04  2.57733571e-03]
 [ 6.79390545e-02  1.27400488e-02 -2.30020847e-02 ... -9.37898340e-05
  -9.37898340e-05 -1.97184627e-03]]

In [100]:
U, S, Vt = svd2(movie_ratings, k=50)
print(f'U:\n {U}\n {U.shape}\n')
print(f'S:\n {S}\n {S.shape}\n')
print(f'Vh:\n {Vt}\n {Vt.shape}\n')

0 50
converged in 8 iterations!
1 50
converged in 26 iterations!
2 50
converged in 26 iterations!
3 50
converged in 51 iterations!
4 50
converged in 90 iterations!
5 50
converged in 72 iterations!
6 50
converged in 49 iterations!
7 50
converged in 396 iterations!
8 50
converged in 59 iterations!
9 50
converged in 136 iterations!
10 50
converged in 246 iterations!
11 50
converged in 237 iterations!
12 50
converged in 80 iterations!
13 50
converged in 225 iterations!
14 50
converged in 667 iterations!
15 50
converged in 201 iterations!
16 50
converged in 90 iterations!
17 50
converged in 316 iterations!
18 50
converged in 234 iterations!
19 50
converged in 492 iterations!
20 50
converged in 209 iterations!
21 50
converged in 210 iterations!
22 50
converged in 247 iterations!
23 50
converged in 559 iterations!
24 50
converged in 164 iterations!
25 50
converged in 163 iterations!
26 50
converged in 437 iterations!
27 50
converged in 269 iterations!
28 50
converged in 221 iterations!
29 50
converged in 780 iterations!
30 50
converged in 240 iterations!
31 50
converged in 347 iterations!
32 50
converged in 214 iterations!
33 50
converged in 256 iterations!
34 50
converged in 492 iterations!
35 50
converged in 762 iterations!
36 50
converged in 454 iterations!
37 50
converged in 822 iterations!
38 50
converged in 457 iterations!
39 50
converged in 985 iterations!
40 50
converged in 318 iterations!
41 50
converged in 307 iterations!
42 50
converged in 204 iterations!
43 50
converged in 1137 iterations!
44 50
converged in 2023 iterations!
45 50
converged in 709 iterations!
46 50
converged in 645 iterations!
47 50
converged in 255 iterations!
48 50
converged in 237 iterations!
49 50
converged in 694 iterations!
U:
 [[ 0.05555428 -0.06167348 -0.01090067 ...  0.01449256 -0.00366525
   0.01703313]
 [ 0.00586626  0.01773783 -0.00442261 ...  0.01729017 -0.00091994
   0.00510594]
 [ 0.00135323 -0.00206865  0.00171491 ... -0.00555701  0.00538131
  -0.00099314]
 ...
 [ 0.11611445 -0.01184656 -0.00976669 ... -0.05380875  0.10824163
   0.15101421]
 [ 0.00757947 -0.0137837  -0.0397415  ... -0.00868197 -0.01038471
  -0.00913472]
 [ 0.13886445  0.2021826   0.09267554 ...  0.05782004 -0.02753936
  -0.01068544]]

S:
 [534.41989777 231.2366114  191.15087619 170.42250828 154.55294795
 147.33575658 135.65556771 122.66302934 121.44217704 113.11144312
 109.60313916 107.93266181 105.97376893 102.0567528   99.87323531
  99.28999309  97.11713365  93.40879268  92.32408582  90.97607945
  90.42515313  88.83466993  87.29627022  86.05702155  85.15393759
  83.04476252  82.40743868  81.73690799  80.86997694  79.52408667
  79.16948321  78.84651582  78.0072347   76.71225801  75.62724442
  75.40667272  74.96494165  74.29201248  74.05266655  73.45187963
  73.22469574  72.46953283  71.7098535   70.20660445  70.02143167
  69.93495685  69.50676339  69.07855214  68.4345504   67.86764796]

Vh:
 [[ 7.04499294e-02  3.85393528e-02  1.59129455e-02 ...  6.46830746e-05
   6.46830746e-05  2.71728189e-04]
 [-2.75893717e-02 -2.06535604e-03 -2.47141918e-02 ...  5.97584882e-04
   5.97584882e-04  1.27236546e-03]
 [-7.84442811e-02 -5.68459208e-02 -1.80069215e-02 ...  8.71232909e-05
   8.71232909e-05 -1.22759837e-04]
 ...
 [-6.99206707e-02 -1.05311000e-02  3.05372037e-02 ... -1.21596242e-04
  -1.21596242e-04 -4.24040089e-04]
 [-1.65985612e-02  3.11358945e-02 -1.33016539e-02 ... -1.22435139e-03
  -1.22435139e-03  1.71510558e-03]
 [-4.81726311e-02  1.34277938e-03  4.29351903e-03 ... -1.19508190e-03
  -1.19508190e-03  3.02217626e-03]]

In [116]:
sigma_diag_matrix=np.diag(S)
all_user_predicted_ratings = np.dot(np.dot(U, sigma_diag_matrix), Vt)
#all_user_predicted_ratings_demeaned = all_user_predicted_ratings +  user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = user_item.columns, index=user_item.index)
preds_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.000000e+00,1.306941e-14,4.000000e+00,2.782496e-15,7.403800e-15,4.000000e+00,1.316308e-14,1.158795e-15,2.584738e-15,2.525757e-14,...,-1.847481e-16,3.686287e-18,1.739060e-16,1.739060e-16,-1.847481e-16,1.739060e-16,-1.847481e-16,-1.847481e-16,-1.847481e-16,1.823628e-16
2,2.329387e-14,7.077672e-16,-3.941292e-15,1.960238e-15,-2.498002e-16,-1.279532e-14,4.024558e-15,-1.471046e-15,-4.659467e-15,-1.930400e-14,...,3.157197e-16,2.949030e-16,4.649059e-16,4.649059e-16,3.157197e-16,4.649059e-16,3.157197e-16,3.157197e-16,3.157197e-16,-1.474515e-16
3,3.215310e-15,-3.534608e-15,-2.123302e-15,-1.214306e-15,-1.054712e-15,2.581269e-15,-6.696033e-15,-9.020562e-16,9.714451e-16,1.512679e-15,...,-1.162265e-16,-7.806256e-17,-8.326673e-17,-8.326673e-17,-1.162265e-16,-8.326673e-17,-1.162265e-16,-1.162265e-16,-1.162265e-16,1.446759e-15
4,-1.105366e-14,6.232861e-15,7.452372e-15,1.526557e-16,7.521761e-15,-4.371503e-16,6.055920e-15,6.232211e-15,1.061651e-15,9.679757e-15,...,5.421011e-16,3.495468e-16,7.676151e-16,7.676151e-16,5.421011e-16,7.676151e-16,5.421011e-16,5.421011e-16,5.421011e-16,1.127570e-15
5,4.000000e+00,1.443290e-15,-5.634382e-15,-3.580469e-15,-5.842549e-15,2.053913e-15,-9.436896e-15,-2.303713e-15,1.609823e-15,-2.275957e-15,...,-2.428613e-16,-1.700029e-16,-2.810252e-16,-2.810252e-16,-2.428613e-16,-2.810252e-16,-2.428613e-16,-2.428613e-16,-2.428613e-16,1.419004e-15

In [138]:
def get_high_recommended_movies(userId):
    movies_rated_by_user = movie_ratings.loc[userId]
    movies_high_rated_by_user =  movies_rated_by_user[movies_rated_by_user > 3].index
    movies_recommended_for_user = preds_df.loc[userId]
    movies_high_recommend_for_user = movies_recommended_for_user[movies_recommended_for_user > 3].index
    recommend = set(movies_high_recommend_for_user) - set(movies_high_rated_by_user)
    recommend_name = set()
    for movie_id in recommend:
        recommend_name.add(str(movies.loc[df['movieId'] == movie_id]['title']).split('\n')[0])
    return recommend_name

get_high_recommended_movies(200)

{'1209    Air Force One (1997)',
 '1261    Starship Troopers (1997)',
 '1522    Honey, I Shrunk the Kids (1989)',
 '1960    Election (1999)',
 '3016    Traffic (2000)',
 "3410    America's Sweethearts (2001)",
 '3720    Bad News Bears, The (1976)',
 '3928    Blue Crush (2002)',
 '436    Mrs. Doubtfire (1993)',
 '4526    Matchstick Men (2003)',
 '472    Sleepless in Seattle (1993)',
 "55    Mr. Holland's Opus (1995)",
 '5944    Bad News Bears (2005)',
 '785    Mary Poppins (1964)'}