In [98]:
import numpy as np
from numpy.linalg import norm
import pandas as pd

from random import normalvariate
from math import sqrt

In [99]:
# Read data from the CSV file into a Pandas DataFrame
df = pd.read_csv("./ml-latest-small/ratings.csv")
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [100]:
movie_ratings = df.groupby(['userId', 'movieId'])['rating'].first().unstack(fill_value=0.0)
movie_ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
movie_ratings.shape

(610, 9724)

In [102]:
# Read data from the CSV file into a Pandas DataFrame
movies = pd.read_csv("./ml-latest-small/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [103]:
movies.shape

(9742, 3)

In [104]:
def randomUnitVector(n):
    unnormalized = [normalvariate(0, 1) for _ in range(n)]
    theNorm = sqrt(sum(x * x for x in unnormalized))
    return [x / theNorm for x in unnormalized]


def svd_1d(A, epsilon=1e-10):
    ''' The one-dimensional SVD '''

    n, m = A.shape
    x = randomUnitVector(min(n,m))
    lastV = None
    currentV = x

    if n > m:
        B = np.dot(A.T, A)
    else:
        B = np.dot(A, A.T)

    iterations = 0
    while True:
        iterations += 1
        lastV = currentV
        currentV = np.dot(B, lastV)
        currentV = currentV / norm(currentV)

        if abs(np.dot(currentV, lastV)) > 1 - epsilon:
            print("converged in {} iterations!".format(iterations))
            return currentV


def svd(A, k=None, epsilon=1e-10):
    '''
        Compute the singular value decomposition of a matrix A
        using the power method. A is the input matrix, and k
        is the number of singular values you wish to compute.
        If k is None, this computes the full-rank decomposition.
    '''
    A = np.array(A, dtype=float)
    n, m = A.shape
    svdSoFar = []
    if k is None:
        k = min(n, m)

    for i in range(k):
        print(i, k)
        matrixFor1D = A.copy()

        for singularValue, u, v in svdSoFar[:i]:
            matrixFor1D -= singularValue * np.outer(u, v)

        if n > m:
            v = svd_1d(matrixFor1D, epsilon=epsilon)  # next singular vector
            u_unnormalized = np.dot(A, v)
            sigma = norm(u_unnormalized)  # next singular value
            u = u_unnormalized / sigma
        else:
            u = svd_1d(matrixFor1D, epsilon=epsilon)  # next singular vector
            v_unnormalized = np.dot(A.T, u)
            sigma = norm(v_unnormalized)  # next singular value
            v = v_unnormalized / sigma

        svdSoFar.append((sigma, u, v))

    singularValues, us, vs = [np.array(x) for x in zip(*svdSoFar)]
    return us.T, singularValues, vs

In [105]:
U, S, Vt = svd(movie_ratings, k=50)
print(f'U:\n {U}\n {U.shape}\n')
print(f'S:\n {S}\n {S.shape}\n')
print(f'Vh:\n {Vt}\n {Vt.shape}\n')

0 50
converged in 10 iterations!
1 50
converged in 25 iterations!
2 50
converged in 51 iterations!
3 50
converged in 46 iterations!
4 50
converged in 90 iterations!
5 50
converged in 55 iterations!
6 50
converged in 48 iterations!
7 50
converged in 327 iterations!
8 50
converged in 65 iterations!
9 50
converged in 117 iterations!
10 50
converged in 235 iterations!
11 50
converged in 186 iterations!
12 50
converged in 143 iterations!
13 50
converged in 188 iterations!
14 50
converged in 642 iterations!
15 50
converged in 176 iterations!
16 50
converged in 97 iterations!
17 50
converged in 320 iterations!
18 50
converged in 376 iterations!
19 50
converged in 701 iterations!
20 50
converged in 207 iterations!
21 50
converged in 237 iterations!
22 50
converged in 282 iterations!
23 50
converged in 336 iterations!
24 50
converged in 192 iterations!
25 50
converged in 603 iterations!
26 50
converged in 351 iterations!
27 50
converged in 391 iterations!
28 50
converged in 249 iterations!
29 50
converged in 757 iterations!
30 50
converged in 697 iterations!
31 50
converged in 321 iterations!
32 50
converged in 202 iterations!
33 50
converged in 275 iterations!
34 50
converged in 1300 iterations!
35 50
converged in 361 iterations!
36 50
converged in 451 iterations!
37 50
converged in 731 iterations!
38 50
converged in 348 iterations!
39 50
converged in 670 iterations!
40 50
converged in 253 iterations!
41 50
converged in 371 iterations!
42 50
converged in 182 iterations!
43 50
converged in 1029 iterations!
44 50
converged in 2390 iterations!
45 50
converged in 779 iterations!
46 50
converged in 453 iterations!
47 50
converged in 279 iterations!
48 50
converged in 446 iterations!
49 50
converged in 645 iterations!
U:
 [[-0.05555411  0.06167361 -0.010899   ...  0.01450095  0.0036505
  -0.01709873]
 [-0.00586631 -0.01773784 -0.00442369 ...  0.01729168  0.00089463
  -0.00510158]
 [-0.00135323  0.00206866  0.00171522 ... -0.00556438 -0.005372
   0.00098037]
 ...
 [-0.11611441  0.01184694 -0.00975886 ... -0.05395293 -0.10817815
  -0.15101702]
 [-0.00757943  0.01378362 -0.03974153 ... -0.00866666  0.01040168
   0.00909422]
 [-0.13886502 -0.20218195  0.09268143 ...  0.05785775  0.02745552
   0.01070878]]
 (610, 50)

S:
 [534.41989777 231.23661139 191.15087618 170.42250832 154.55294792
 147.33575659 135.6555677  122.66302935 121.44217705 113.11144314
 109.60313917 107.93266178 105.97376892 102.05675285  99.87323527
  99.2899931   97.11713365  93.40879269  92.32408583  90.97607943
  90.42515315  88.83466992  87.29627022  86.05702155  85.15393759
  83.04476235  82.40743891  81.73690797  80.86997688  79.52408667
  79.16948312  78.84651593  78.00723468  76.71225805  75.62724417
  75.40667298  74.9649416   74.2920125   74.05266663  73.45187938
  73.22469592  72.46953283  71.70985351  70.20660403  70.02143298
  69.93495595  69.5067634   69.07855211  68.4345504   67.86764801]
 (50,)

Vh:
 [[-7.04498899e-02 -3.85393451e-02 -1.59129144e-02 ... -6.46837898e-05
  -6.46837898e-05 -2.71729690e-04]
 [ 2.75896367e-02  2.06550777e-03  2.47142793e-02 ... -5.97584310e-04
  -5.97584310e-04 -1.27236469e-03]
 [-7.84448243e-02 -5.68424345e-02 -1.80041554e-02 ...  8.71257602e-05
   8.71257602e-05 -1.22834999e-04]
 ...
 [-6.99002783e-02 -1.05747100e-02  3.05551903e-02 ... -1.19990284e-04
  -1.19990284e-04 -4.26210305e-04]
 [ 1.67028999e-02 -3.11215758e-02  1.32541935e-02 ...  1.22445917e-03
   1.22445917e-03 -1.71453118e-03]
 [ 4.81690066e-02 -1.33331769e-03 -4.25716616e-03 ...  1.19658186e-03
   1.19658186e-03 -3.02383040e-03]]
 (50, 9724)

In [106]:
sigma_diag_matrix=np.diag(S)
all_user_predicted_ratings = np.dot(np.dot(U, sigma_diag_matrix), Vt)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = movie_ratings.columns, index=movie_ratings.index)
preds_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,2.181504,0.393706,0.838228,-0.082360,-0.546588,2.521744,-0.887417,-0.025276,0.196893,1.607170,...,-0.024996,-0.021425,-0.028567,-0.028567,-0.024996,-0.028567,-0.024996,-0.024996,-0.024996,-0.058960
2,0.209824,0.004826,0.030744,0.017251,0.183769,-0.060652,0.083297,0.023795,0.048100,-0.151973,...,0.018895,0.016196,0.021594,0.021594,0.018895,0.021594,0.018895,0.018895,0.018895,0.031966
3,0.013372,0.034726,0.050526,0.000201,-0.005594,0.114673,-0.007466,0.000737,0.004743,-0.061263,...,-0.001613,-0.001382,-0.001843,-0.001843,-0.001613,-0.001843,-0.001613,-0.001613,-0.001613,-0.000529
4,2.011793,-0.394921,-0.290386,0.093879,0.123146,0.259720,0.472678,0.035964,0.011265,-0.021781,...,0.001965,0.001684,0.002246,0.002246,0.001965,0.002246,0.001965,0.001965,0.001965,-0.021455
5,1.336689,0.772954,0.064579,0.113880,0.274975,0.584481,0.251040,0.131531,-0.086315,1.035386,...,-0.004408,-0.003778,-0.005038,-0.005038,-0.004408,-0.005038,-0.004408,-0.004408,-0.004408,-0.006097

In [107]:
def get_high_recommended_movies(user_id):
    movies_rated_by_user = movie_ratings.loc[user_id]
    movies_high_rated_by_user =  movies_rated_by_user[movies_rated_by_user > 3].index.tolist()
    
    movies_recommended_for_user = preds_df.loc[user_id]
    movies_high_recommend_for_user = movies_recommended_for_user[movies_recommended_for_user > 3].sort_values(ascending=False).index.tolist()
    
    recommend_id = []
    for movie_id in movies_high_recommend_for_user:
        if movie_id not in movies_high_rated_by_user:
            recommend_id.append(movie_id)
            
    recommend_name = []
    for movie_id in recommend_id:
        movie_name = ' '.join(str(movies.loc[movies['movieId'] == movie_id]['title']).split('\n')[0].split()[1:])
        recommend_name.append(movie_name)
        
    return recommend_name

In [108]:
user_id = 200
# user_id = int(input())
recommend_movies = get_high_recommended_movies(user_id)

print(f'user_id = {user_id}\n')
print('recommendation Movies: ')
for movie in recommend_movies:
    print(movie)

user_id = 200

recommendation Movies:
Shrek (2001)
Mrs. Doubtfire (1993)
Titanic (1997)
40-Year-Old Virgin, The (2005)
Dead Poets Society (1989)
Groundhog Day (1993)
Anchorman: The Legend of Ron Burgundy (2004)
Rock, The (1996)